{% extends 'base.html' %}

{% block title %} Products {% endblock %}


{% block body %}
    <div class='container'>
        <div class='row'>

    {% for product in product_list %}
        <div class='col'>
        {{ forloop.counter }}
        {% include 'products/product_card.html'  %}
        {% include 'products/update_cart.html'  with product=product  %}


        {% if forloop.counter|divisibleby:3 %}
         </div> </div><div class='row'><div class='col-12'><hr/></div>

        {% else %}
         </div>
        {% endif %}

    {% endfor %}

</div>
</div>
{% endblock %}





