{% extends 'base.html' %}
{% block body %}
<h3>Cart</h3>
{% if items %}


    <table class="table cart-table">
        <thead>
            <tr>
                <td>#</td>
                <td><strong>Product Name</strong></td>
                <td><strong>Product Price</strong></td>
                <td><strong>Quantity</strong></td>
                <td>        </td>
            </tr>
        </thead>
        <tbody class="cart-body">

            {% for item in items %}
            <tr class="cart-products">
                <th scope="row">{{forloop.counter}}</th>
                <td><a href="{{item.product.get_absolute_url }}">{{item.product.name}}</a>
                </td>
                <td>{{item.total_price}}
                    <br>
                    {% if item.quantity > 1 %} <p> <small>each:{{item.unite_price}}</small</p> {% endif %}
                </td>
                <td>{{item.quantity}}</td>

                <td>
                    <form method="post" action="{% url 'carts:item-delete'%}">
                        {% csrf_token %}
                         <input type="hidden" name="item_id" value={{item.id}}>
                            <button class="btn btn-danger" type="submit">Delete</button></a>
                    </form>
                </td>
            </tr>
            {% endfor %}

            <tr>
                <td colspan="2"></td>
                <td><b>SubTotal:  </b><span class="cart-subtotal">{{subtotal}}</span></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td><b>Total:  </b><span calss="cart-total">{{total}}</span></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td><a href="{% url 'carts:checkout' %}"><button class="btn btn-large btn-success" type="submit" > Checkout</button></a></td>
            </tr>

        </tbody>
    </table>
    <div class="cart-item-remove-form" style="display:none">
        {% include 'carts/remove-product.html' %}

    </div>

{% else%}
<p> Cart is empty</p>
{% endif %}




{% endblock %}
