{% extends 'base.html' %}
{% block body %}
<h3>Cart</h3>
{% if products %}

<table>
    <thead>
        <tr>
            <td>#</td>
            <td><strong>Product Name</strong></td>
            <td><strong>Product Price</strong></td>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="2"></td>
            <td><b>SubTotal</b>{{subtotal}}</td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td><b>Total</b>{{total }}</td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td><a href="{% url 'carts:checkout' %}"><button class="btn btn-large btn-success" type="submit" > Checkout</button></a></td>
        </tr>

    </tbody>
</table>
{% else%}
<p> Cart is empty</p>
{% endif %}

{% endblock %}
