{% extends 'blog/base.html' %}
{% block body %}
<div class="col-sm-6">

    <div class="card col px-md-5 " style="width: 36rem">
        <h4 class="card-title"> Register Account</h4>
        <form method="POST" action="">
            {% csrf_token %}
            {% for field in form %}
                <p>{{field.label_tag}} : {{field}}</p>
                {% for error in field.errors %}
                <small class="text-danger"> {{error }}</small>
                {% endfor %}
                <br>
            {% endfor %}
            <input type="submit" value="Register">

        </form>
        {% for message in messages %}
        <p> {{message}}</p>
        {% endfor %}

        <br>

        <p>Already have an account? <a href="{% url 'blog:login' %}"> Login</a></p>
    </div>
</div>

{% endblock %}