<!-- CSS only -->
{% extends 'base.html'%}
{% block body %}


<div class="card border-primary mb-3" style="width: 18rem;">
    <div class="card body">

        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-primary">Login</button>
            {% for message in messages %}
                <a class="text-danger">{{message}}</a>
            {% endfor %}
        </form>
        <a class="text-center text-primary" here="#"> Forget Password? </a>
    </div>

</div>
{% endblock %}