<!-- CSS only -->
{% extends 'base.html'%}
{% block body %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">


<div class="card border-primary mb-3" style="width: 18rem;">
    <div class="card body">

        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-primary">Login</button>
            {% for message in messages %}
                <a class="text-danger">{{message}}</a>
            {% endfor %}
        </form>
        <a class="text-center text-primary" here="#"> Forget Password? </a>
    </div>

</div>
{% endblock %}